<%- include header %>
<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <%= title%> <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Home
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out for additional features!
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
			<div class="col-lg-12">
				<!-- /#page-wrapper -->
				<% posts.forEach(function (post, index) { %>
				  <p><h2><a href="#"><%= post.title %></a></h2></p>
				  <p class="info">
					作者：<a href="#"><%= post.name %></a> | 
					日期：<%= post.time.minute %>
				  </p>
				  <p><%- post.post %></p>
				<% }) %>
			</div>
        </div>
        <!-- /.row -->
        
    </div>
    
</div>

<%- include footer %>